<div class="container">
    <div class="top">
        <h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
    </div>
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <span style="color:white">Log In</span>
        </div>
        <label for="username">Username</label>
        <br />
        <input type="text" id="username" data-ng-model="user.username" style="margin-top: 5px;">
        <br />
        <label for="password">Password</label>
        <br />
        <input type="password" id="password" data-ng-model="user.password" style="margin-top: 5px;">
        <br />
        <button type="submit" data-ng-click="signIn()">Sign In</button>
    </div>
</div>
