AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csproj.FileListAbsolute.txt
.vs/config/applicationhost.config
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csproj.FileListAbsolute.txt
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csproj.FileListAbsolute.txt
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csprojResolveAssemblyReference.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.dll
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.pdb
AngularCourseGroup2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csprojResolveAssemblyReference.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.dll
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.pdb
AngularCourseGroup2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csprojResolveAssemblyReference.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.dll

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
