AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csproj.FileListAbsolute.txt
.vs/config/applicationhost.config
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csproj.FileListAbsolute.txt
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csproj.FileListAbsolute.txt
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csprojResolveAssemblyReference.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.dll
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.pdb
AngularCourseGroup2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csprojResolveAssemblyReference.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.dll
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.pdb
AngularCourseGroup2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.csprojResolveAssemblyReference.cache
AngularCourseGroup2/obj/Debug/AngularCourseGroup2.dll
